body{
background-color: black;
margin: 0;
padding: 0;
background-size: 100%;
background-repeat: no-repeat;
background: url(../img/relo1.png);
font-family: 'Times New Roman', Times, serif;
}

.logoz{
color: white;
font-size: 40px;
font-family: 'Times New Roman', Times, serif;
margin-left: 27%;
margin-top: 5%;
}

.menu{
background-color: #10365E;
padding: 1px 6%;
margin-bottom: 5%;
}

.menu li{
display: inline;
padding: 0 5%;
}

.menu li a{
text-decoration: none;
color: white;
font-size: 18px;
}

.carrossel{
display: inline-block;
padding: 2%;
border-radius: 1em;
margin-top: 1%;
margin-bottom: 5%;
background-color: rgb(34, 32, 32);
}

h4{
  color: white;
  font-size: 40px;
  text-decoration: underline;
}
.conteudo1{
float: left;
width: 60%;
margin: 0 0 0 1%;
background-color: black;
border: 5px solid #10365E;
padding: 20px;
height: 700px;
width: 600px;
}

.conteudo1 p{
text-align:justify;
font-size: 17px;
color: whitesmoke;
}

.footer{
  clear: both;
    background-color: #10365E;
    color:black;
    text-align: center;
    font-size: 14px;
    padding: 1%;
    font-weight: bold;

}

figure.imagemv{
  background-color: #10365E;
  display: inline-block;
  margin-left: 10%;
  padding: 1px;
  border-radius: 1px;
  text-align: center;

}

figcaption{
color: white;
text-align: center;
font-size: 20px;
}

.mapa{

  margin-left: 77.5%;
}